body {
        height: 1000px;
    background-image: url("../assets/images/background_image_M.jfif") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




.wiev {
    display: flex;
    justify-content: space-between;

}