body {
        height: 1000px;
    background-image: url("../assets/images/background_image_M.jfif") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


@keyframes rotateForHundred {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(170deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(170deg);
 
    }
    100% {
        transform: rotate(360deg);
    }
}
